html
  head
    title= 'BaconFlix'
  body
    h1 BaconFlix Video Streaming Service

    h4 Navigation Pane
    table(border=2)
        tr
            td
                a(href="./user") Users
            td
                a(href="./subscription") Subscriptions
            td
                a(href="./movie") Movies
            td
                a(href="./tvseries") TV Series
            td
                a(href="./tvshow") TV Shows

    hr         
    
    block content  